@media (max-width: 20rem) {

    :root {
        --font-size6px: 0.375rem;
        --font-size10px: 0.625rem;
        --font-size11px: 0.688rem;
        --font-size12px: 0.75rem;
        --font-size14px: 0.875rem;
        --font-size16px: 1rem;
        --font-size17px: 1.063rem;
        --font-size20px: 1.25rem;
        --font-size27px: 1.688rem;
        --font-size65px: 4.063rem;

        --color-grey: #929292;
        --color-black: #2A2A2A;
        --color-white: #FFFFFF;
        --color-red: #FD2016;


    }

    a {
        text-decoration: none;
    }

    .header-black {
        background-color: var(--color-black);
    }

    .header.burger-open {
        background-color: var(--color-white);
        color: var(--color-black)
    }

    .header {
        position: fixed;
        height: 2.87546rem;
        width: 17.234rem;
        padding: 0.75rem 1.383rem 0 1.383rem;
        font-family: 'Manrope';
        color: var(--color-white);

    }

    .logoAndInfo {
        display: flex;
        justify-content: space-between;
        height: 2.875rem;
        width: 17.234rem;
        align-items: center;
        margin-bottom: 0;
    }

    .logo {
        width: 5.75rem;
        height: 1.375rem;
    }

    .logo-info {
        width: 5.75rem;
        height: 1.375rem;
    }

    .watch-on-map {
        display: none;

    }

    .vector {
        width: 0.63vw;
        height: 0.78vw;
        margin-right: 0.52vw;
    }

    .dotted-line {
        border-bottom: dotted 0.1vw var(--color-red);
    }

    a.underline-hover-effect {
        text-decoration: none;
        color: inherit;
    }

    .underline-hover-effect {
        display: inline-block;
        padding-bottom: 0.16vw;
        position: relative;
    }

    .underline-hover-effect::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.05vw;
        border-bottom: 0.063 dotted var(--color-red);
        transition: width 0.25s ease-out;
    }

    .underline-hover-effect:hover::after {
        width: 10%;
    }

    .font-text-repair:hover .underline-hover-effect::after {
        width: 10%;
    }

    .font-text-vector {
        width: 6.25vw;
        font-weight: 400;
        font-size: var(--font-size11px);
    }

    .repair-cost {
        display: none;
    }

    .repair {
        height: 4.063rem;
        width: 4.063rem;
        margin-right: 0;
    }

    .font-text-repair {
        font-weight: 400;
        font-size: var(--font-size14px);
        font-style: normal;
        width: 10rem;
        height: 3.75rem;
        letter-spacing: 0.05rem;
    }

    .dotted {
        border-bottom: dotted 0.1vw red;
    }


    .questions {
        display: none;
    }

    .font-text-questions {
        font-weight: 400;
        font-size: var(--font-size11px);
    }

    .link-questions {
        width: 1.82vw;
        height: 1.82vw;
    }

    .link-questions-telegram {
        width: 1.82vw;
        height: 1.82vw;
        padding: 0vw 0.31vw 0vw 0.31vw;

    }
    .workintime-and-phone-number {

        width: 6.563rem;
        height: 2.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .call-time {
        display: block;
        font-family: 'Manrope';
        font-size: var(--font-size6px);
        font-weight: 400;
        text-align: left;

    }

    .call {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #20C863;
        width: 0.25rem;
        height: 0.25rem;
        margin-right: 0.313rem;
    }

    .working-hours {
        font-family: 'Manrope';
        font-size: var(--font-size6px);
        font-weight: 400;
        width: 5.188rem;
        height: 0.625rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.313rem;
    }

    .phone-block {
        width: 6.563rem;
        height: 0.75rem;
        font-family: 'Manrope';
        font-size: var(--font-size12px);
        font-weight: 700;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .phone {
        width: 0.375rem;
        height: 0.375rem;
    }

    .phone-number {
        font-family: 'Manrope';
        font-size: var(--font-size12px);
        font-weight: 700;
    }

    .open-phone {
        display: none;
    }

    .order-a-call {
        cursor: pointer;
        width: 3.93rem;
        height: 1.313rem;
        font-family: 'Manrope';
        font-size: var(--font-size12px);
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .call-order {
        font-family: 'Manrope';
        font-size: var(--font-size6px);
        font-weight: 400;
    }

    .call {
        color: #20C863;
        width: 0.21vw;
        height: 0.21vw;
        margin-right: 0.21vw;
    }

    .underline-hover-effect::after {

        border-bottom: 0.125rem dotted var(--color-red);
    }

    .first-section {
        z-index: -1;
        width: 20rem;
        height: 27.563rem;
        padding-top: 3.625rem;
    }

    .repair-text {
        display: none;
    }

    .burger-menu {
        display: block;
        position: relative;
        cursor: pointer;
        width: 0.922rem;
        height: 0.851rem;
        z-index: 2;
    }

    .burger-menu.burger-open span,
    .burger-menu.burger-open::before,
    .burger-menu.burger-open::after {
        background-color: var(--color-black);
    }

    .burger-menu span,
    .burger-menu::before,
    .burger-menu::after {
        left: 0;
        position: absolute;
        height: 0.125rem;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--color-white);
    }

    .burger-menu::before,
    .burger-menu::after {
        content: "";

    }

    .burger-menu::before {
        top: 0;
    }

    .burger-menu::after {
        bottom: 0;
    }

    .burger-menu span {
        top: 50%;
        transform: scale(1) translate(0rem, -50%);
    }

    .navigation.burger-open {
        display: block;
        color: var(--color-black);
        height: 24.875rem;
        width: 16.313rem;
        margin: 1.938rem 2.313rem 2.375rem 1.375rem;
    }

    .nav-container.burger-open {
        right: 0;
    }

    .nav-container {
        background-color: var(--color-white);
        position: fixed;
        right: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        transition: right 1s ease 0s;
    }

    .map-info {
        display: none;
    }

    .map {
        height: 4.063rem;
        width: 4.063rem;
    }

    .font-text-logo {
        font-style: normal;
        font-size: var(--font-size14px);
        width: 13.125rem;
        height: 4.063rem;
        font-family: 'Manrope';
        font-weight: 400;
        letter-spacing: 0.05rem;

    }

    .font-text-adress {
        line-height: 1.125rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li:nth-child(3) {
        display: block;
    }

    .navigation a {
        font-style: normal;
        font-weight: 400;
        line-height: 1.563rem;
        text-transform: none;
        font-size: var(--font-size12px);
        color: var(--color-grey);
        letter-spacing: 0;
    }

    .nav-container li:nth-child(2) {
        margin-bottom: 0.875rem;
    }

    .nav-container li:nth-child(3) {
        margin-bottom: 1.125rem;
        height: 3.125rem;
        width: 9.938rem;
    }

    .nav-container li:nth-child(4) {
        margin-bottom: 1.75rem;
    }

    .nav-container li:nth-child(5) {
        margin-bottom: 1.75rem;
    }

    .nav-container li:nth-child(6) {
        margin-bottom: 1.75rem;
    }

    .nav-container li:nth-child(7) {
        margin-bottom: 1.5rem;
    }

    .nav-container li:nth-child(8) {
        margin-bottom: 1.5rem;
    }

    .nav-container li:nth-child(9) {
        margin-bottom: 1.5rem;
    }

    .nav-container li:nth-child(10) {
        margin-bottom: 1.5rem;
    }
    .navigation {
        display: none;
        color: var(--color-white);
        font-size: var(--font-size16px);
        font-style: normal;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: 0.1rem;
    }

    .navigation li:hover {
        cursor: pointer;
    }

    .grey-line {
        display: none;
    }

    .information-container {
        padding: 1.563rem 1.375rem 3.063rem 1.375rem;
        font-family: 'Manrope';
        font-weight: 400;
        text-align: left;
        color: var(--color-white);
        align-items: center;
    }

    .info-section {}

    .info-text-section {
        height: 8.688rem;
        width: 12.5rem;
        margin-bottom: 1.75rem;
        font-size: var(--font-size20px);
        display: flex;
        text-align: left;
        word-wrap: normal;

    }

    .info-text-second {
        height: 2.25rem;
        width: 16.188rem;
        margin-bottom: 1.813rem;
        font-size: var(--font-size12px);
    }

    .button-info-container {
        flex-direction: column;
        row-gap: 0.938rem;
    }

    img.arrow {
        display: none;
    }

    .center {
        display: flex;
        height: 3.75rem;
        width: 17.25rem;
        font-family: 'Manrope';
    }

    .button-cost {
        width: 100%;
        height: 100%;
        padding: 0 0;
        background: var(--color-red);
        color: #ffffff;
        text-decoration: none;
        border: none;
        line-height: 0.938rem;
        font-size: var(--font-size10px);
        font-weight: 600;
        border-radius: 3.125rem;
    }

    .button-cost-text {
        width: 12.5rem;

    }

    .btncall {
        display: none;
    }

    .button2-cost {
        padding: 0 0;
        width: 100%;
        height: 100%;
        border-radius: 3.125rem;
        border-style: none;
        background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7));
        color: #ffffff;
        font-size: var(--font-size10px);
        font-weight: 600;

    }

    .button-cost:hover {
        background: #FD2000;
    }

    .button2-cost:hover {
        background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7));
    }


    .button-cost .flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 2.34vw;
        transform: skewX(-45deg);
        animation: flareAnimation;
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
        animation: flareAnimation 3s infinite linear;
    }

    .button2-cost .flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 2.34vw;
        transform: skewX(-45deg);
        animation: flareAnimation;
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
        animation: flareAnimation 3s infinite linear;
    }

    @keyframes flareAnimation {
        0% {
            left: -150%;
        }

        100% {
            left: 150%;
        }
    }

    .find-cost {
        cursor: pointer;
        width: 20.83vw;
        height: 5.21vw;
        border-radius: 2.60vw;
        border-style: none;
        background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7));
    }

    .find-box {
        display: flex;
        padding: 1.67vw;
        align-items: center;
    }

    .btncall {
        width: 1.56vw;
        height: 1.56vw;
        margin-right: 0.63vw;
    }

    .find-text {
        font-weight: 600;
        color: var(--color-white);
        font-size: var(--font-size10px);
        font-family: 'Manrope';
        width: 100%;
        font-style: normal;
    }

    .find-text span {
        color: #20C863;
    }

    .shootouts {
        font-size: var(--font-size10px);
        flex-wrap: wrap;
        width: 17.375rem;
        height: 11.063rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        font-family: 'Manrope';
        font-weight: 400;
        text-align: left;
        color: var(--color-black);
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-top: 0.938rem;
    }

    .shootouts div:nth-child(2) {
        order: 3;
        width: 8.125rem;
        height: 6.188;
    }

    .check {
        width: 0.825rem;
        height: 0.6rem;
        margin-bottom: 0.4rem;
    }

    .size-block1 {
        width: 8.125rem;
        height: 2.875;
        border-right: 0.063 solid rgba(255, 255, 255, 0.3);
    }

    .font-bold-shootouts {
        font-family: 'Manrope';
        font-weight: 700;
        font-size: var(--font-size10px);
        margin-right: 0.938rem;
    }

    .size-block2 {
        border-right: 0.05vw solid rgba(255, 255, 255, 0.3);
    }

    .padding-block2 {
        margin-left: 0;
        margin-right: 0;
    }

    .size-block3 {
        width: 8.125rem;
        height: 2.875rem;
        border-right: 0.05vw solid rgba(255, 255, 255, 0.3);
    }

    .size-text-block3 {
        width: 8.125rem;
        height: 3.28vw;
    }

    .size-block4 {
        width: 8.125rem;
        height: 6.188rem;
    }

    .padding-block4 {
        margin-left: 0;
    }

    .font300-text-shootouts {
        font-family: 'Manrope';
        font-weight: 300;
        font-size: var(--font-size10px);

    }

    .container-burger-location.burger-open {
        right: 0%;
    }

    .container-burger-location {
        margin: 0 1.375rem;
        display: flex;
        position: fixed;
        right: -100%;
        flex-direction: column;
        row-gap: 2.375rem;
        transition: right 1s ease 0s;
    }

    .adres-service-burger {
        width: 17.188rem;
        height: 4.063rem;
        display: flex;
        justify-content: space-between;
        column-gap: 1.125rem;
    }

    .img-adres-burger {
        background: url('./img/adres-burger.svg') center center no-repeat;
        width: 4.063rem;
        height: 4.063rem;
    }

    .text-adres-burger {
        margin-top: auto;
        width: 12rem;
    }

    .bold-adres-burger {
        font-size: var(--font-size14px);
        line-height: 1.125rem;
        font-style: normal;
        font-weight: 800;
    }

    .cost-repair-burger {
        display: flex;
        column-gap: 1.125rem;
    }

    .img-cost-repair {
        background: url('./img/calc-burger.svg') center center no-repeat;
        width: 4.063rem;
        height: 4.063rem;
    }

    .text-cost-repair-burger {
        margin-top: auto;
    }

    .bold-adres-burger span {
        border-bottom: 0.05rem dotted red;
    }

    .question-burger-container {
        height: 6.625rem;
        width: 14.813rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 0.563rem;
    }

    .photo-master {
        background: url('./img/master.svg') center center no-repeat;
        width: 4.063rem;
        height: 4.063rem;
    }

    .telega-burger {
        background: url('./img/1.svg') center center no-repeat;
        height: 2rem;
        width: 2rem;
    }

    .whatsapp-burger {
        background: url('./img/2.svg') center center no-repeat;
        height: 2rem;
        width: 2rem;
    }

    .question-burger-icon {
        margin: auto;
        display: flex;
        justify-content: space-between;
        height: 2rem;
        width: 4.375rem;
    }

    .block-photo-question {
        display: flex;
        justify-content: space-between;
        column-gap: 1.125rem;
        height: 4.063rem;
    }

    .text-question {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 9.625rem;
        height: 4.063rem;
    }

    .text-question span {
        font-size: var(--font-size14px);
        line-height: 1.125rem;
        font-style: normal;
        font-weight: 800;
    }
}